<div *ngIf="noteInfo != null; else loading">
    <!--<h3>{{noteInfo.name}}</h3>-->
</div>
<ng-template #loading>
    <h3>Loading</h3>
</ng-template>
<div *ngIf="viewingSharedNote == false; else sharedToolbar">
    <mat-toolbar>
        <button (click)='saveNote()' mat-stroked-button>
            <mat-icon>save</mat-icon>
        </button>
        <button (click)='deleteNote(noteid, noteInfo.name)' mat-stroked-button>
            <mat-icon>delete</mat-icon>
        </button>
        <a routerLink="/homescreen" mat-stroked-button>
            <mat-icon>arrow_back</mat-icon>
        </a>
        <button *ngIf="imageUrl != null" mat-stroked-button (click)='viewImage()' disabled={{doesNotHaveImage}}>
            <mat-icon>photo</mat-icon>
        </button>
        <audio controls></audio>
        <button mat-stroked-button color="primary" id="start" (click)="start();">
            <mat-icon>fiber_manual_record</mat-icon>
        </button>
        <button mat-stroked-button color="warn" id="stop" disabled=true>
            <mat-icon>stop</mat-icon>
        </button>
    </mat-toolbar>
</div>
<ng-template #sharedToolbar>
    <mat-toolbar>
        <button (click)='saveNote()' mat-stroked-button>
            <mat-icon>save</mat-icon>
        </button>
        <a routerLink="/homescreen" mat-stroked-button>
            <mat-icon>arrow_back</mat-icon>
        </a>
        <audio controls></audio>
        <button mat-stroked-button color="primary" id="start" (click)="start();">
            <mat-icon>fiber_manual_record</mat-icon>
        </button>
        <button mat-stroked-button color="warn" id="stop" disabled=true>
            <mat-icon>stop</mat-icon>
        </button>
    </mat-toolbar>
</ng-template>

<p>Last edited by {{lastEditedBy}} Share note: <input #shareEmail type="text" id="shareEmail" />
    <button (click)="shareNote(shareEmail.value)">Share the note</button></p>
<quill-editor class="editor2" [modules]="modules"
    (onEditorCreated)="setFocus($event)" 
    (onContentChanged)="editorContentChanged($event)"
    (onSelectionChanged)="editorSelectionChanged($event)">
</quill-editor>