<div *ngIf="noteInfo != null; else loading">
    <h3>{{noteInfo.name}}</h3>
</div>
<ng-template #loading>
    <h3>Loading</h3>
</ng-template>
<button (click)='saveNote()'>Save</button>
<button (click)='deleteNote()'>Delete</button>
<a routerLink="/homescreen"><button>Back</button></a>
<button class="btn btn-primary" id="start" (click)="start();">Record</button>
<button class="btn btn-primary" id="stop" disabled=true>Stop</button>
<quill-editor 
    [style]="{height: '200px'}" 
    (onEditorCreated)="setFocus($event)"
    (onContentChanged)="editorContentChanged($event)"
></quill-editor>
<audio controls></audio>
