#header {
    width: 100%;
    height: 50px;
    background-color: azure;
}
#apptitlebar {
    position: absolute;
    height: inherit;
    left: 0px;
    width: 10%;
    background-color: lightsalmon;
    text-align: center;
}
#notetitlebar {
    position: absolute;
    height: inherit;
    left: 10%;
    right: 10%;
    width: 75%;
    background-color: blanchedalmond;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}
#userbar {
    position: absolute;
    height: inherit;
    right: 0px;
    width: 15%;
    background-color: aqua;
    display: table-cell;
    vertical-align: middle;
}
.header-content {
    text-align: center;

}