<div id="header">
  <div id="apptitlebar">
    <h1>{{title}}</h1>
  </div>
  <div id="notetitlebar">
    <h2>{{noteTitle}}</h2>
  </div>
  <div id="userbar">
    <mat-toolbar>
      <button mat-button [matMenuTriggerFor]="notifMenu" id="notificationsButton">
        <mat-icon matBadge="{{notifications.length}}" matBadgeColor="warn" matBadgeOverlap="true">notifications</mat-icon>
      </button>
      <button mat-button [matMenuTriggerFor]="userMenu">
        <mat-icon>person</mat-icon>
      </button>
    </mat-toolbar>
    
    <mat-menu #notifMenu="matMenu" id="notifMenu">
      <!--
         *ngFor="let folder of folders"
      colspan="1"
      rowspan="1"
      (click)="gotoFolder(folder.name)">
      -->
      <div style="padding-left: 10px; padding-right: 10px;">
          <h5 style="width: 100%; text-align: center;">Notifications</h5>
          <div mat-list-item *ngFor="let notification of notifications">
            <div style="width: 250px; min-height: 80px; border-top: solid; border-color: rgba(1,1,1,0.05); border-width: 3px;">
                <div style="width: 75%; position: relative; left: 0; top: 0;">
                    {{notification.text}}
                </div>
                <div style="width: 25%; position: relative; left: 75%; bottom: 50%;">
                    <button mat-button mat-icon-button (click)="clearNotification(natification)">
                        <mat-icon>close</mat-icon>
                      </button>
                </div>
            </div>
            
          </div>
      </div>
      <!--<div mat-list-item>
        <p>ryaneverett33@outlook.com has shared 'interstellar' with you.</p>
        <button mat-button><mat-icon>close</mat-icon></button>
      </div>-->
    </mat-menu>

    <!--<button type="button" class="btn btn-danger" (click)="logout()">Logout</button>-->
    
    <mat-menu #userMenu="matMenu">
      <button mat-menu-item (click)="logout()">Logout</button>
      <button mat-button (click)="darkModeToggle()"><mat-icon>{{darkModeIcon}}</mat-icon></button>
    </mat-menu>
  </div>
</div>
<!--<nav>
  <a routerLink="/login">Login</a>
  <a routerLink="/homescreen">Homescreen</a>
  <a routerLink="/note">Note</a>
</nav>-->
<router-outlet></router-outlet>