/*@import '../../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css';*/

/*Homescreen*/
#menubar {
    background-color: darkcyan;
}
.folder {
    background-color: darkblue;
    color: white;
}
.note {
    background-color: darkgray;
}
#actionbar {
    background-color: coral;
}
/*Note*/
/*AppComponent*/
#header {
    background-color: azure;
}
#apptitlebar {
    background-color: darksalmon;
}
#notetitlebar {
    background-color: blanchedalmond;
}
#userbar {
    background-color: aqua;
}