/*@import '../../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css';*/

/*Homescreen*/
#menubar {
    background-color: #4456bb;
}
.folder {
    background-color: darkblue;
    color: white;
}
.note {
    background-color: #737373;
    color: white;
}
#actionbar {
    background-color: coral;
}
/*Note*/
/*AppComponent*/
/*#header {
    background-color: azure;
}*/
#apptitlebar {
    background-color: #9840b5;
    color: white;
}
.appColor {
    background-color: #b3b3b3;
}
#notetitlebar {
    background-color: #4456bb;
    color: white;
}
.lastEdited {
    color: white;
}
.editor2 {
    background-color: white;
    color: black;
}
/*#userbar {
    background-color: aqua;
}*/