<nav>
  <a routerLink="/note"><button>Go to the Notescreen</button></a>
  <button type="button" class="btn btn-danger" (click)="logout()">Logout</button>
</nav>
<div id="navbar">
  <mat-list>
    <mat-list-item
      *ngFor="let value of navLoc"
    >
      <button mat-raised-button (click)="goBackTo(value)">{{value}}</button>
    </mat-list-item>
    <!--<mat-divider [inset]="true"></mat-divider>
    <mat-list-item>Item 2</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Item 3</mat-list-item>-->
  </mat-list>
  
</div>
<div style="height:50px">
  <p></p>
</div>
<!--<ul class="notes">
  <li *ngFor="let note of notes">
    <span class="badge">{{note.name}}</span> {{note.id}}
  </li>
</ul>-->
<!--<h3>My folders</h3>-->
<!--<ul class="folders">
  <li *ngFor="let folder of folders">
    <span class="badge">{{folder.name}}</span> {{folder.id}}, childCount: {{folder.childCount}}
  </li>
</ul>-->
<mat-grid-list cols="4" rowHeight="100px">
  <mat-grid-tile class="folder"
      *ngFor="let folder of folders"
      colspan="1"
      rowspan="1"
      (click)="gotoFolder(folder.name)">
    {{folder.name}}
  </mat-grid-tile>
</mat-grid-list>

<!--<h2>My notes</h2>-->
<mat-grid-list cols="4" rowHeight="100px">
  <mat-grid-tile class="note"
      *ngFor="let note of notes"
      colspan="1"
      rowspan="1">
      <div>
        {{note.name}}
        <input #idField id="idField" type="hidden" value={{note.id}} /> 
        <br />
        <button mat-raised-button color="primary" (click)="gotoNote(idField.value)">Go to Note</button>
        <button mat-icon-button color="accent" (click)="deleteNote(idField.value)">
          <mat-icon aria-label="Delete">delete</mat-icon>
        </button>
      </div>
    
  </mat-grid-tile>
</mat-grid-list>

Folder name: <input #folderName type="text" id="folderName" />
<button (click)="createFolder(folderName.value)">Create a folder</button>
<br />
Note name: <input #noteName type="text" id="noteName" />
<button (click)="createNote(noteName.value)">Create a note</button>