.folder {}
.note {
    border-radius: 15px;
    border-color: black;
    border-width: 1px;
    border-style: solid;
}
#navbar {
    width: 80%;
}
#actionbar {
    width: 20%;
}
#menubar {
    max-height: 75px;
    width: 100%;
    position: absolute;
    bottom: 0%;
}
/*Make things flow horizontally*/
#navbar, #actionbar {display: inline-block; *display: inline; vertical-align: top;}
.mat-list-item {
    float: left;
}
.mat-list-item-content {
    overflow-x: hidden !important;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0px;
    padding-bottom: 5px;
}
.navListItem {
    min-width: 25px;
    max-width: 100px;
}
.addmore-icon {
    height: 140px;
    width: 140px;
}
.addmore-icon-image {
    position: relative;
    font-size: 140px;
    text-align: justify !important;
    left: 20px;
}
.circleshape {
    height: 300px;
    width: 300px;
    background-color: rgba(1,1,1,0.1);
    border-radius: 50%;
    z-index: -1;
}