<!--<nav>
  <a routerLink="/note"><button>Go to the Notescreen</button></a>
</nav>-->

<div id="menubar">
  <mat-list id="navbar">
    <mat-list-item *ngFor="let value of navLoc">
      <button mat-raised-button class="navListItem" (click)="goBackTo(value)">{{value}}</button>
    </mat-list-item>
  </mat-list>
  <div id="actionbar">
    <button mat-button [matMenuTriggerFor]="notesMenu" style="position: relative; left: 0px;">
      My Notes
    </button>
    <button mat-icon-button [matMenuTriggerFor]="menu" style="position: relative; right: 0px;">
      <mat-icon>add</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>note_add</mat-icon>
        <span>Create Note</span>
      </button>
      <button mat-menu-item>
        <mat-icon>create_new_folder</mat-icon>
        <span>Create Folder</span>
      </button>
    </mat-menu>

    <mat-menu #notesMenu="matMenu">
      <button mat-menu-item>
        <span>My Notes</span>
      </button>
      <button mat-menu-item>
        <span>Shared With Me</span>
      </button>
    </mat-menu>
  </div>
</div>

<h6>Folders</h6>
<mat-grid-list cols="4" rowHeight="50px">
  <mat-grid-tile class="folder"
      *ngFor="let folder of folders"
      colspan="1"
      rowspan="1"
      (click)="gotoFolder(folder.name)">
    {{folder.name}}
  </mat-grid-tile>
</mat-grid-list>

<h6>Notes</h6>
<mat-grid-list cols="4" rowHeight="100px">
  <mat-grid-tile class="note"
      *ngFor="let note of notes"
      colspan="1"
      rowspan="1">
      <div>
        {{note.name}}
        <input #idField id="idField" type="hidden" value={{note.id}} />
        <br />
        <button mat-raised-button color="primary" (click)="gotoNote(idField.value)">Go to Note</button>
        <button mat-icon-button color="accent" (click)="deleteNote(idField.value, note.name)">
          <mat-icon aria-label="Delete">delete</mat-icon>
        </button>
      </div>

  </mat-grid-tile>
</mat-grid-list>

Folder name: <input #folderName type="text" id="folderName" />
<button (click)="createFolder(folderName.value)">Create a folder</button>
<br />
Note name: <input #noteName type="text" id="noteName" />
<button (click)="createNote(noteName.value)">Create a note</button>
